/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ここから！ */

/* 
@media screen and (max-width:800px) {
    .container {
        flex-wrap: wrap;
    }
} */



.test {
    height: calc(100vh - 90px);
}

.title {
    height: 86px;
    width: 100%;
    background-color: rgb(208, 238, 39);
    text-align: center;
    margin: 0 0 4px 0;
}

.title h1 {
    font-size: 22px;
    color: rgb(53, 53, 53);
    padding: 10px;
    margin-bottom: 5px;
}

.git_link {
    color: coral;
}

.git_link span {
    font-weight: 800;
}

h2 {
    font-size: 18px;
    color: rgb(53, 53, 53);
}

a {
    text-decoration: none;
}

/* .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */


.btn-area {
    text-align: center;
}

.btn {
    position: relative;
    z-index: 10;
    border: none;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
}

.btn:focus {
	outline:0;
}

.btn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.contentBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.answer {
    min-width: 300px;
    min-height: 300px;
    margin: 10px 10px;
    padding: 10px;
    background-color: #87ceeb;
    text-align: center;
    border-radius: 3%;
    border: #5592ab 3px solid;
}

li {
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.prf_img {
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 15px auto;
}

.name {
    background-color: #EB9DAC;
    color: #fff;
    border-radius: 100px;
    padding: 10px 15px;
    margin: 10px 10px;
}

.list_title {
    margin: 18px auto 5px auto;
    font-size: 15px;
    color: rgb(53, 53, 53);
}