/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ここから！ */
/* 
@media screen and (max-width:800px) {
    .container {
        flex-wrap: wrap;
    }
} */

.title {
    width: 100%;
    background-color: rgb(208, 238, 39);
    text-align: center;
}

.title h1 {
    font-size: 22px;
    color: rgb(53, 53, 53);
    padding: 10px;
    margin-bottom: 5px;
}

.git_link {
    color: coral;
}

h2 {
    font-size: 18px;
    color: rgb(53, 53, 53);
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer {
    min-width: 300px;
    margin: 10px 10px;
    padding: 10px;
    background-color: #87ceeb;
    text-align: center;
}

li {
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.prf_img {
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 15px auto;
}

.name {
    background-color:#EB9DAC;
    color: #fff;
    border-radius: 100px;
    padding: 10px 15px;
    margin: 10px 10px;
}

.list_title {
    margin: 18px auto 5px auto;
    font-size: 15px;
    color: rgb(53, 53, 53);
}

